body { 
    background-color: rgb(134, 123, 102);
}

h1 {
    font-size: 30px;
    text-align: center;
}

p {
    text-align: center;
    color:rgb(250, 17, 153);
    font-size: 20px;
}

.paragrafo {
    text-align: center;
    color:rgb(177, 0, 165);
    font-size: 20px;
}

img{
    width: 30%;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
}

