body { 
    background-color: rgba(130, 120, 99, 0.626);
}

h1 {
    font-size: 50px;
    text-align: center;
    color: #ffffff;
}

p {
    text-align: center;
    color:rgb(250, 17, 153);
    font-size: 30px;
}

.paragrafo {
    text-align: center;
    color:rgb(177, 0, 165);
    font-size: 30px;
}

img{
    height: 300px;
    justify-content: center;
    margin-left: 500px;
}

